body {
    background: lightpink;
    color: purple;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
letter-spacing: 5px;
text-transform: capitalize;
line-height: 1.25;
margin-bottom: 0.75rem;
font-size: 3rem;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

/* ".xxx" refers to class, "#xxx" refers to ID */
#value { 
    font-size: 6rem;
    font-weight: bold;
    color: rgb(182, 39, 182);
}

.btn {
    text-transform: uppercase;
    background: white;
    color: purple;
    padding: 10px 20px; /*this refers to left (10px) right (20px) */
    cursor: pointer;
}

.btn:hover {
    color: cyan;
    background: white;
}












